PGPASSWORD=kamailio
PGUSERNAME=kamailio
PUBLIC_IP=LAN_IP/PUBLIC_IP
DBENGINE=PGSQL
DBHOST=db
DBPORT=5432
DBNAME=kamailio
DBROOTUSER=kamailio
DBROOTPW=kamailio
DBRWUSER=kamailio
DBRWPW=kamailio
DBROUSER=kamailio
DBROPW=kamailio
MIN_PORT=10021
MAX_PORT=11000
CREATE_DB=false
